@{
                /**/

                ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
Total de la nomina es: @ViewBag.TotalSalario <br />
Total de empleados es: @ViewBag.TotalEmpleados

<p>Use this area to provide additional information.</p>
